// // css footer
// footer {
//     // position: sticky;
//     background-color: #132539;
//     height: 950px;
//     // margin-top: -360px;
//     z-index: -1;

//     .footer__total {
//         // height: 100%;
//         // position: relative;
//         // display: flex;
//         // justify-content: center;
//         img {
//             width: auto;
//         }
//         .footer__background {
//             height: 520px;
//             width: 100%;
//             background-color: #132539;
//             // margin-top: -300px;
//             z-index: -1;

//             .wrapper__footer-img {
//                 display: flex;
//                 flex-direction: column;
//                 justify-content: center;
//                 background-color: #132539;
//                 text-align: center;
//                 .footer__logo {
//                     // padding-top: 520px;
//                     display: flex;
//                     flex-direction: row;
//                     justify-content: space-around;
//                     &::before {
//                         content: "";
//                         display: inline-block;

//                         width: 100%;
//                         height: 1px;
//                         margin-top: 50px;
//                         margin-right: 40px;
//                         background-color: #d4a549;
//                     }
//                     &::after {
//                         content: "";
//                         display: inline-block;
//                         height: 1px;
//                         width: 100%;
//                         background-color: #d4a549;
//                         margin-top: 50px;
//                         margin-left: 40px;
//                     }
//                 }
//                 .footer__info {
//                     margin-top: 40px;

//                     p {
//                         font-family: Arial, Helvetica, sans-serif;
//                         font-size: 11px;
//                         text-transform: uppercase;
//                         color: #fff;
//                         text-align: center;
//                         line-height: 26px;
//                     }
//                 }
//                 .back {
//                     position: absolute;
//                     bottom: 110px;
//                     align-items: center;
//                     right: 30px;
//                     display: flex;
//                     transform: rotate(90deg);

//                     &::before {
//                         content: "";
//                         display: inline-block;

//                         width: 100px;
//                         height: 1px;
//                         background-color: #d4a549;
//                         margin-right: 20px;
//                     }
//                     // &.active {
//                     // }
//                     span {
//                         font-family: Arial, Helvetica, sans-serif;
//                         font-size: 11px;
//                         line-height: 26px;
//                         color: #fff;
//                         text-transform: uppercase;
//                         cursor: pointer;
//                         transition-delay: 0.3s;
//                     }
//                     &::after {
//                         content: "";
//                         display: inline-block;

//                         width: 100%;
//                         height: 1px;
//                         background-color: #d4a549;
//                         margin-top: 20px;
//                     }
//                 }
//             }
//         }
//     }
// }
footer {
    .footer__total {
        background-color: #132539;
        // height: 950px;
        // margin-top: -360px;
        z-index: -1;
        .footer__background {
            height: 450px;
            width: 100%;
            margin-top: -350px;
        }
        .container {
            .wrapper__footer-img {
                height: 430px;
                display: flex;
                flex-direction: column;
                // justify-content: center;
                background-color: #132539;
                text-align: center;
                padding-top: 70px;
                .footer__logo {
                    img {
                        width: auto;
                    }
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    &::before {
                        content: "";
                        display: inline-block;

                        width: 100%;
                        height: 1px;
                        margin-top: 50px;
                        margin-right: 40px;
                        background-color: #d4a549;
                    }
                    &::after {
                        content: "";
                        display: inline-block;
                        height: 1px;
                        width: 100%;
                        background-color: #d4a549;
                        margin-top: 50px;
                        margin-left: 40px;
                    }
                }
                .footer__info {
                    margin-top: 40px;

                    p {
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 11px;
                        text-transform: uppercase;
                        color: #fff;
                        text-align: center;
                        line-height: 26px;
                    }
                }
                .back {
                    position: absolute;
                    bottom: 110px;
                    align-items: center;
                    right: 30px;
                    display: flex;
                    transform: rotate(90deg);

                    &::before {
                        content: "";
                        display: inline-block;

                        width: 100px;
                        height: 1px;
                        background-color: #d4a549;
                        margin-right: 20px;
                    }
                    // &.active {
                    // }
                    span {
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 11px;
                        line-height: 26px;
                        color: #fff;
                        text-transform: uppercase;
                        cursor: pointer;
                        transition-delay: 0.2s;
                        &:hover {
                            color: gray;
                        }
                    }

                    // &::after {
                    //     content: "";
                    //     display: inline-block;

                    //     width: 100%;
                    //     height: 1px;
                    //     background-color: #d4a549;
                    //     margin-top: 20px;
                    // }
                }
            }
        }
    }
}
@media screen and (max-width: 1440px) {
    footer .footer__total .container .wrapper__footer-img .back {
        right: -65px;
    }
}

@media screen and (max-width: 993px) {
    footer {
        .footer__total {
            .container {
                .wrapper__footer-img {
                    height: 370px;
                    padding-top: 30px;
                    .back {
                        right: -50px;

                        &::before {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
}
// @media screen and (max-width: 767px) {
//     footer .footer__total .container .wrapper__footer-img .back {
//         right: -70px;
//     }
// }
@media screen and (max-width: 420px) {
    footer {
        .footer__total {
            .container {
                .wrapper__footer-img {
                    height: 280px;
                    padding-top: 10px;
                    .footer__logo {
                        &::before {
                            margin-top: 30px;
                            margin-right: 0;
                        }
                        &::after {
                            margin-top: 30px;
                            margin-left: 0;
                        }
                        img {
                            height: 70%;
                            width: auto;
                        }
                    }
                    .footer__info {
                        margin-top: 0;
                    }
                    .back {
                        right: -74px;
                        &::before {
                        }
                    }
                }
            }
        }
    }
}
