// css navigator (Menu)
// .container {
//     max-width: 100%;
//     background-color: #132539;
// }
.nav__main {
    z-index: 2000;
    display: block;
    background-color: #1e1f26;
    width: 500px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: 0.4s;
    &.active {
        transform: translateX(0);
        transition: 0.4s;
    }
    &::after {
        width: 100%;
        height: 100%;
        background-color: #171717;
        z-index: 11;
    }
    .nav__header {
        margin-left: 20px;
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: #fff;

        .follow__us-icon {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            color: #fff;

            p {
                margin-right: 20px;
            }
            i {
                margin-right: 20px;
            }
        }
    }
    .nav__icon-list {
        display: flex;
        justify-content: flex-start;
        padding-top: 124px;
        padding-left: 35px;
        padding-right: 25px;

        .nav__content {
            .nav__content-icon {
                i {
                    img {
                        width: auto;
                    }
                    &::after {
                        content: "";
                        display: block;
                        width: 85px;
                        height: 1px;
                        background-color: #fff;
                        margin-top: 20px;
                        margin-bottom: 15px;
                        position: relative;
                        transform: translateX(-22px);
                    }
                }
                .close-icon {
                    padding: 18px 0;
                    width: 40px;
                    cursor: pointer;

                    span {
                        &::before {
                            content: "";
                            display: block;
                            width: 40px;
                            height: 1px;
                            background-color: #fff;
                            margin-bottom: 10px;
                            transform: rotate(-45deg) translateX(-8px);
                        }
                        &::after {
                            content: "";
                            display: block;
                            width: 40px;
                            height: 1px;
                            background-color: #fff;
                            margin-top: 10px;
                            transform: rotate(45deg) translateX(-8px);
                        }
                    }
                }
            }
        }
        .nav__list {
            li {
                padding: 15px;
                font-family: "eb";
                font-size: 26px;
                line-height: 30px;
                text-transform: uppercase;
                a {
                    color: white;
                }
            }
        }
    }
}

@media screen and (max-width: 993px) {
    // .main__header {
    //     width: 100%;
    //     background-color: green;
    // }

    .nav__menu {
        display: none;
    }
    .nav__menu-left {
        display: none;
    }

    .nav__menu-right {
        display: none;
    }
}

.menu__scroll {
    width: 180px;
    height: 180px;
    background-color: #132539;
    position: fixed;
    top: 40%;
    left: 0;
    transform: translateY(-50px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    .icon__home {
        img {
            max-width: 100%;
        }
    }
    .menu__mobi {
        span {
            display: flex;
            flex-direction: column;
            content: "";
            height: 2px;
            width: 40px;
            background-color: #f4f4f4;

            margin: 10px 0;
        }
        &::after {
            content: "";
            height: 2px;
            width: 40px;
            background-color: #f4f4f4;
            display: block;
            margin: 10px 0;
        }
        &::before {
            content: "";
            height: 2px;
            width: 40px;
            background-color: #f4f4f4;
            display: block;
            margin: 10px 0;
        }
    }
}
@media screen and (max-width: 767px) {
    .welcome {
        margin-left: 20px;
        margin-right: 20px;
    }
    .icon__menu {
        display: flex;
    }
    .header__menu .wrapper__header {
        display: none;
    }
    .header__menu::after {
        display: none;
    }
    .product__img {
        display: grid;
        grid-template-columns: 1fr;
        margin: 20px 20px 20px;
    }

    .nav__main {
        max-width: 70%;
        .nav__header {
            flex-direction: column;
        }
        .nav__icon-list {
            padding-top: 20px;
            padding-left: 15px;
            padding-right: 5px;
            .nav__list {
                li {
                    font-size: 22px;
                }
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .nav__main {
        max-width: 80%;
        .nav__header {
            align-items: flex-start;
        }
        .nav__icon-list {
            padding-top: 20px;
            padding-left: 15px;
            padding-right: 5px;
            .nav__list {
                li {
                    // padding: unset;
                    font-size: 16px;
                }
            }
        }
        .nav__content {
            .nav__content-icon {
                i {
                    img {
                        width: auto;
                        height: 50%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 420px) {
    .nav__main {
        display: none;
        max-width: 80%;
        .nav__header {
            align-items: flex-start;
            flex-direction: column;
        }
        .nav__icon-list {
            padding-top: 20px;
            padding-left: 15px;
            padding-right: 5px;
            .nav__list {
                li {
                    // padding: unset;
                    font-size: 16px;
                }
            }
        }
        .nav__content {
            .nav__content-icon {
                i {
                    &::after {
                        width: 68px;
                    }
                    img {
                        width: 50%;
                    }
                }
            }
        }
    }
}
// .newswp {
//     .wrapper__project {
//         .background__news {
//             height: 300px;
//             position: relative;
//             .news__title {
//                 h2 {
//                     top: 140px;
//                     &::after {
//                         display: none;
//                     }
//                 }
//             }
//         }
//         .btn__top-news {
//             // position: unset;
//             display: none;
//         }
//         .nav__main {
//             max-width: 80%;
//             .nav__header {
//                 align-items: flex-start;
//             }
//             .nav__icon-list {
//                 padding-top: 20px;
//                 padding-left: 15px;
//                 padding-right: 5px;
//                 .nav__list {
//                     li {
//                         padding: unset;
//                         font-size: 16px;
//                     }
//                 }
//             }
//             .nav__content {
//                 .nav__content-icon {
//                     i {
//                         img {
//                             width: 50%;
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }
