@media screen and (max-width: 993px) {
    // .main__header {
    //     width: 100%;
    //     background-color: green;
    // }

    .nav__menu {
        display: none;
    }
    .nav__menu-left {
        display: none;
    }

    .nav__menu-right {
        display: none;
    }
}
.main__product {
    position: relative;
    .menu__mobiles {
        position: fixed;
        top: 60px;
        height: 100%;
        z-index: 1000;
        width: 100%;
        background-color: #132539;
        color: #fff;
        transform: translateX(-100%);
        display: flex;
        padding-top: 60px;
        flex-direction: column;
        padding-left: 80px;

        cursor: pointer;
        &.active {
            transform: translateX(0);
        }
        .menu__mobiles-top {
            text-align: center;
            display: flex;
            padding-bottom: 20px;

            .icon {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                i {
                    padding-right: 10px;
                    padding-left: 10px;
                }
            }
            .exit {
                color: #fff;
                i {
                    margin-right: -80px;
                }
            }
        }
        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            li {
                padding: 15px;
                text-transform: uppercase;
                color: #fff;

                &:hover {
                    color: rgb(177, 165, 165);
                    cursor: pointer;
                }
                a {
                    color: unset;
                }
            }
        }
    }
    .wrapper__product {
        position: relative;
        height: 450px;
        display: flex;
        img {
            width: 100%;
        }
        .btn__top {
            color: #fff;
        }
        .menu__main {
            width: 180px;
            height: 180px;
            background-color: #132539;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            z-index: 10;
            bottom: 0;
            left: 0;
            .icon__home {
                img {
                    width: auto;
                }
            }
            .menu__mobi {
                span {
                    display: flex;
                    flex-direction: column;
                    content: "";
                    height: 2px;
                    width: 40px;
                    background-color: #f4f4f4;

                    margin: 10px 0;
                }
                &::after {
                    content: "";
                    height: 2px;
                    width: 40px;
                    background-color: #f4f4f4;
                    display: block;
                    margin: 10px 0;
                }
                &::before {
                    content: "";
                    height: 2px;
                    width: 40px;
                    background-color: #f4f4f4;
                    display: block;
                    margin: 10px 0;
                }
            }
        }
        .product__text {
            position: absolute;
            right: 100px;
            z-index: 10;
            padding-top: 10%;
            // transform: translateY(-50%);
            // right: 0;

            p {
                max-width: 500px;
                font-family: "eb";
                font-size: 24px;
                line-height: 51px;
                text-transform: uppercase;
                text-align: right;
                color: #fff;
            }
        }
    }
}
.product__detail {
    margin-top: 10px;

    .product__work {
        &::after {
            content: "";
            height: 1px;
            width: 100%;
            // width: 10%;
            background-color: #acacac;
            display: block;
            margin-top: 50px;
        }
        .product__text {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .product__text-title {
                display: flex;
                flex-direction: row;
                align-items: center;
                .product-number {
                    h1 {
                        font-family: "eb";
                        font-size: 90px;
                        line-height: 135px;
                        color: #c48b2c;
                        padding-right: 20px;
                    }
                }
                .product__title {
                    h2 {
                        font-family: "eb";
                        font-size: 18px;
                        line-height: 40px;
                        text-transform: uppercase;
                        color: #000;
                    }
                    p {
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 12px;
                        color: #000;
                        line-height: 20px;
                        max-width: 430px;
                    }
                }
            }
            a {
                color: #000;
                display: flex;
                justify-content: center;
                text-align: center;
                align-items: flex-end;
                margin-bottom: auto;
                margin-top: auto;
                i {
                    img {
                        width: auto;
                        margin: auto;
                    }
                }
                p {
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 12px;
                    text-transform: uppercase;
                    margin-left: 10px;
                }
            }
        }
    }
    .product__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        margin-bottom: 40px;

        .product__work-wrap {
            .product__work-detail {
                position: relative;

                .product__work-img {
                    &::after {
                        content: "";
                        width: 1px;
                        height: 80%;
                        display: block;
                        position: absolute;
                        background-color: #acacac;
                        top: 0;
                        right: -10px;
                        // transform: rotateY(90deg);
                    }
                    img {
                        width: 100%;
                        // height: 100%;
                    }
                }
                .product__work-imgunline {
                    img {
                        width: 100%;
                        // height: 100%;
                    }
                }
                .product__work-caption {
                    position: relative;
                    .product__work-text {
                        h4 {
                            font-family: Arial, Helvetica, sans-serif;
                            font-size: 18px;
                            line-height: 40px;
                            color: #000;
                        }
                        p {
                            font-family: Arial, Helvetica, sans-serif;
                            font-size: 18px;
                            line-height: 40px;
                            color: #000;
                        }
                    }
                    .detail {
                        display: flex;
                        flex-direction: row;
                        justify-content: left;
                        align-items: center;
                        img {
                            width: auto;
                            height: 100%;
                            margin-right: 10px;
                        }
                        p {
                            font-family: Arial, Helvetica, sans-serif;
                            font-size: 12px;
                            line-height: 40px;
                            text-transform: uppercase;
                            font-weight: bold;
                            color: #000;
                        }
                    }
                    // &::after {
                    //     content: "";
                    //     display: block;

                    //     width: 1px;
                    //     height: 20%;
                    //     background-color: #000;
                    //     position: absolute;
                    //     top: 0;
                    //     left: -50%;
                    //     // top: 0;
                    // }
                    .btn__next-product {
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        img {
                            width: auto;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 993px) {
    .main__product .wrapper__product .menu__main {
        display: none;
    }
    .main__product .wrapper__product .product__text {
        right: 35px;
    }
    .main__product .wrapper__product .product__text {
        padding-top: 130px;
    }
    // .product__detail .product__grid {
    //     display: grid;
    //     grid-template-columns: 1fr;
    // }
}
@media screen and (max-width: 767px) {
    .main__product .wrapper__product .product__text p {
        padding-top: 120px;
        font-size: 18px;
    }
    .product__detail .product__work .product__text {
        // display: none;
        flex-direction: column;
    }
    .product__detail .product__work .product__text a {
        justify-content: unset;
    }
    .product__detail .product__grid {
        display: grid;
        grid-template-columns: 1fr;
    }
    .product__detail .product__grid .product__work-wrap .product__work-detail .product__work-img::after {
        content: none;
    }
}
@media screen and (max-width: 420px) {
    .main__product .wrapper__product .product__text {
        // right: 25px;
        padding-top: 106px;
        p {
            padding-top: 0px;
            font-size: 18px;
            line-height: 26px;
        }
    }
    .main__product .wrapper__product {
        height: 275px;
    }
    .product__detail .product__work .product__text .product__text-title .product-number h1 {
        font-size: 60px;
        line-height: 90px;
        padding-right: 10px;
    }
    .product__detail
        .product__grid
        .product__work-wrap
        .product__work-detail
        .product__work-caption
        .product__work-text
        h4 {
        font-size: 14px;
        line-height: 26px;
    }
    .product__detail
        .product__grid
        .product__work-wrap
        .product__work-detail
        .product__work-caption
        .product__work-text
        p {
        font-size: 14px;
        line-height: 26px;
    }

    .product__detail .product__work .product__text .product__text-title .product__title h2 {
        font-size: 14px;
        line-height: 26px;
    }
}
